.client-logo{
    img {
        max-height: 100px;
        padding: 5px 10px;
        @media (max-width: $tablet) {
            max-height: 80px;
        }
    }
}

.wp-block-yoast-faq-block {
    .schema-faq-section {
        padding-top: 15px;
        display: block;
        .schema-faq-question {
            display: block;
        }
        .schema-faq-answer {
            margin-left: 15px;
            padding: 14px;
            background: #eee;
        }
    }
}